/*This body color is set for all pages*/
body {
    background-color: hsl(198, 100%, 95%);
}

/*This is the color and weight for all h1 tags*/
h1 {
    color: black;
    font-weight: bold;
    text-align: center;
}

a.linkspace {
    margin-left: 80px;
    margin-right: 80px;
    border: solid;
    border-radius: 5px;
}

/*this is a horizontal line class formated to add to pages*/
hr.one{
    border: 1px solid blue;
}

hr.two {
    border: 1px black;
}

/*this is set to format the table*/
table,th,td
{
    border:1px solid black;
    
    text-align: center;
}

.inline

{
    display: inline

}

/*This is the class that is used for the header*/
.myheader {
    height: 25%;
    
    
}

#menu {
    width: 15%;
    float: left;
    background: hsl(198, 100%, 95%);
    margin-left: 2%;
    margin-right: 5px;
    text-align: center;
    height: 70%;
    flex: 1;
    height: 600px;
    border-right: 2px solid blue;
}

.border {
    width: 50%;
    float: right;
    margin-left: 5%;
    margin-right: 25%;
    margin-top: 2%;
    height: auto;
    border-left: 2px solid blue;
    border-right: 2px solid blue;
    text-align: center;
}

.element::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 115%;
    width: 100%;
    background-image: url('BooksImage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: .6;
    z-index: -1;
}

.element h1{
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 50px;
    color:  black;
    
}

.element #BookList {
    text-align: center;
    font-size: 20px;
    font-weight: 200;
    margin-top: 40px;
    color: red;
}


